* {
    padding: 0;
    margin: 0;
}

.main-block {
    display: flex;
    width: 100%;
    text-align: center;
    flex-wrap: wrap;
    justify-content: center;
}

.title {
    font-size: 48px;
    padding-bottom: 20px;
    padding-top: 200px;
    width: 100%;
}

.btn-nav {
    width: 50%;
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    margin: 0 auto;
}

.error {
    font-size: 60px;
    width: 100%;
    text-align: center;
    padding-top: 30px;
}

.error p {
    color: red;
}

.block {
    display: inline-block;
    border: 1px solid red;
    text-align: center;
}

.block h1 {
    font-size: 20px;
}

input:invalid {
    border: red solid 2px;
}
